.language {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.language_button {
  display: flex;
  gap: 5px;
  background-color: transparent;
  color: var(--color-gray);
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
}

.language_button:hover {
  color: var(--color-orange);
}

.language__dropdown {
  position: absolute;
  top: 90%;
  background-color: var(--color-dark);
  border: 1px solid var(--color-orange);
  border-radius: 5px;
  overflow: visible;
}

.language__dropdown-element {
  color: var(--text);
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5px;
  padding: 10px 25px 10px 8px;
}

.language__dropdown-element:hover {
  cursor: pointer;
  background-color: var(--color-orange);
}

